only-built-dependencies[]=--google/genai
only-built-dependencies[]=bufferutil
only-built-dependencies[]=core-js
only-built-dependencies[]=es5-ext
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
only-built-dependencies[]=puppeteer
only-built-dependencies[]=utf-8-validate